@import "tailwindcss";

@theme {
  --color-cypress: #2F3A32;
  --color-bone: #F5F2EC;
  --color-terracotta: #C26E4A;
  --color-sage: #A7B09E;
  --color-gold: #D1B075;

  --font-display: var(--font-playfair);
  --font-body: var(--font-montserrat);
}

body {
  background-color: var(--color-bone);
  color: var(--color-cypress);
  font-family: var(--font-body);
}
